<IfModule mod_php5.c>
RewriteEngine On
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ index.php?controller=$1&action=$2&params=$3&page=$4
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ index.php?controller=$1&action=$2&params=$3
RewriteRule ^([^/\.]+)/([^/\.]+)/?$ index.php?controller=$1&action=$2
RewriteRule ^([^/\.]+)/?$ index.php?controller=$1
</IfModule>

